.part1 {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.trophee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:950px) {
    .part1 {
        display: flex;
        flex-direction: column;
    }

    .trophee {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .image img{
        width: 400px;
    }
}
@media screen and (max-width:400px) {
    .image img{
        width: 300px;
    }
}
@media screen and (max-width:315px) {
    .image img{
        width: 200px;
    }
}
